.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin-bottom: 20px;
  color: lightseagreen;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.form {
  text-align: center;
}

.reload {
  width: 170px;
  height: 50px;
  background-color: lightseagreen;
  border-radius: 20px;
  text-align: center;
}

.box-clue,
.box-attempts {
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 2px #cacaca;
  height: 50px;
  width: 350px;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
